.percentview{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1px;
}
.bar{
    background-color: #ccc;
    
}
.barcolor{
    background-color: blue;
    z-index: 1;
}